<div class="container">
    <form name="crudForm" novalidate>

        <div ng-transclude ></div>

        <div class="row">
            <div class="col-sm-12">
                </br>
                <div class="form-group pull-right">
                    <button type="button"
                            class="btn btn-default btn-lg"
                            ng-click="cancelar()">{{cancelarLabel}}</button>
                    <button type="button"
                            class="btn btn-secondary btn-lg"
                            ng-click="salvar()">{{salvarLabel}}</button>

                    <div ng-include="botoesAdicionais"></div>
                </div>
            </div>
        </div>
    </form>
</div>